.card {
    margin: 80px auto;

    width: 60%;
    @media (max-width: 850px) {
        width: 100%;
    }
    font-weight: 700;
    font-size: 16px;
    color: #737373;
}

.card-header {
    padding: 0 16px;
    height: 44px;
    border-left: 8px solid #000000;
    color: #000000;
    vertical-align: middle;
}

.card-header h1 {
    font-size: 30px;
}

.card-month {
    margin-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 10px;
}

.card-month button {
    display: flex;
    cursor: pointer;
    background: #FFFFFF;
    border: none;
}

.month__change-arrow {
    width: 20px;
    height: 15px;
    font-size: 15px;
    font-weight: bold;
}

.month__change-label {
    margin-left: 8px;
    margin-right: 8px;
}

.this_month__display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.this_month__display-format {
    margin-left: 8px;
    font-size: 20px;
}

.list-table {
    margin-top: 46px;
    background: #FFFFFF;
    border-radius: 10px;
}

.list-table__inner {
    width: 100%;
}

.list-table__row:first-child {
    height: 48px;
    border-bottom: 3px solid #E1E1E1;
}

.list-table__row {
    height: 42px;
    border-bottom: 2px solid #E1E1E1;
}

.list-table__row th {
    width: 42px;

    @media (max-width: 850px) {
        width: 0;
    }
}

.list-table__item-link {
    color: #000000;
    text-decoration: none;
}

.csv-export {
    margin-top: 50px;
    display: flex;
    justify-content: end;
}

.csv-export__button {
    width: 184px;
    height: 50px;
    border-radius: 5px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 22px;
}