@media screen and (max-width: 1540px) {
    main {
        width: 1515px;
        height: 100%;
    }
}

@media screen and (max-width: 850px) {
    main {
        width: 840px;
        height: 100%;
    }
}

.card {
    margin: 200px auto;
    text-align: center;
    width: 720px;
    font-size: 24px;
}

.d-inline button {
    width: 257px;
    height: 53px;
    font-size: 20px;
    background: none;
    border: none;
    color: #0073CC;
    cursor: pointer;
}

.verification-url {
    margin: 48px auto;
    width: 257px;
    height: 69px;
    border: solid 1px #000000;
    border-radius: 10px;
    background: #D9D9D9;
}

.verification-url a {
    position: relative;
    top: 22%;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}